html{
    font-size: 14px;
}
body{
    font-size: 0.92857rem;
    color: #a7a7a7;
    font-weight: 300;
    line-height: 1.6;
}
.g-pos-rel{
    position: relative!important;
}
.g-pos-abs{
    position: absolute!important;
}

.g-overflow-hidden{
    overflow: hidden;
}
.u-bg-overlay:after, .u-bg-overlay:before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}
.u-bg-overlay{
    position: relative;
}
.u-bg-overlay__inner{
    z-index: 3;
    position: relative;
}

.g-absolute-centered{
    position:absolute!important;
    top: 50%!important;
    left: 50% !important;
    transform: translate(-50%,-50%);
}
.g-color-aqua{
    color: #29d6e6;
}
.g-color-red{
    color: red!important;
}
.g-color-black{
    color: #000!important;
}
.g-color-white{
    color: white!important;
}
.g-color-dark-v4{

}
.g-font-weight-700{
    font-weight: 700;
}
.g-font-weight-300{
    font-weight: 300!important;
}
.g-font-weight-200{
    font-weight: 200!important;
}
.g-font-size-60{
    font-size:4.28571rem!important
}
.g-font-size-70{
    line-height: 70px;
    font-size: 5rem!important;
}
.g-font-size-13{
    font-size:.92857rem!important
}
.g-font-size-50{
    font-size: 3.571rem!important;
}
.g-font-size-30{
    font-size:2.14286rem!important
}
.g-font-size-32{
    font-size:2.28571rem!important;
}
.g-font-size-36{
    font-size: 2.57143rem!important;
}
.g-font-size-20{
    font-size: 1.42857rem!important;
}
.primary-color{
    color: #e6125d!important;
}
.g-color-primary{
    color: #e6125d!important;
}
.g-bg-purple{
    background-color:#9a69cb!important
}
.g-bg-primary{
    background-color: #e6125d!important;
}
.g-bg-cyan:hover{
    background-color:#00bed6!important
}
.g-bg-cyan--hover:hover{
    background-color:#00bed6!important
}
.g-color-gray-dark-v4{
    color: #777777!important;
}
.g-color-gray-dark-v3{
    color: #555555!important;
}
.g-color-gray-dark-v2{
    color: #333333!important;
}
.g-color-gray-light-v1{
    color: #bbb!important;
}
.g-color-gray-light-v3{
    color:#ddd!important;
}
.g-font-size-default{
    font-size: 1rem!important;
}
.g-font-size-15{
    font-size: 1.07143rem !important;
}
.g-font-size-16{
    font-size: 1.14286rem!important;
}
.g-font-size-18{
    font-size: 1.28571rem!important;
}
.g-font-size-40{
    font-size: 2.85714rem!important;
}
.g-font-size-12{
    font-size: .85714rem!important;
}
.g-font-size-11{
    font-size:.78571rem!important;
}
.g-font-weight-600{
    font-weight: 600;
}
.g-line-height-0_7{
    line-height: 0.7!important;
}
.g-line-height-1{
    line-height: 1!important;
}
.g-mt-minus-10{
    margin-top: -.71rem;
}
.g-mt-15{
    margin-top: 1.07rem!important;
}
.g-mx-minus-5{
    margin-left: -.35rem;
    margin-right: -.35rem;
}
@media screen and (min-width: 0){
    .g-bg-white{
        background-color: white!important;
    }
    .g-mx-5{
        margin-left: .35rem!important;
        margin-right: .35rem!important;
    }
    .g-mx-6{
        margin-left: .42857rem!important;
        margin-right: .42857rem!important;
    }
    .g-mb-minus-1{
        margin-bottom:-.07143rem!important
    }
    .g-mb-25{
        margin-bottom:1.78571rem!important;
    }
    .g-mb-60{
        margin-bottom: 4.2857rem!important;
    }
    .g-mb-40{
        margin-bottom: 2.857rem!important;
    }
    .g-mb-0--lg{
        margin-bottom: 0!important;
    }
    .g-mb-0--md{
        margin-bottom: 0!important;
    }
    .g-mb-1{
        margin-bottom:.07143rem!important;
    }
    .g-ml-10{
        margin-left:.71429rem!important
    }
    .g-mb-10{
        margin-bottom: .71429rem!important;
    }
    .g-mb-15{
        margin-bottom: 1.07rem!important;
    }
    .g-mb-30{
        margin-bottom: 2.14286rem!important;
    }
    .g-mb-35{
        margin-bottom:2.5rem!important
    }
    .g-mb-30-md{
        margin-bottom:2.14286rem!important
    }
    .g-mb-20{
        margin-bottom: 1.42857rem!important;
    }
    .g-mb-50{
        margin-bottom:3.57143rem!important
    }
    .g-mb-5{
        margin-bottom: .35714rem!important;
    }
    .g-mr-5{
        margin-right: .35714rem!important;
    }
    .g-mr-20{
        margin-right:1.42857rem!important
    }
    .g-mt-10{
        margin-top: .71rem!important;
    }
    .g-mt-140{
        margin-top:10rem!important;
    }
    .g-mr-10{
        margin-right: .71429rem!important;
    }
    .g-my-40{
        margin-top:2.85714rem!important;
        margin-bottom:2.85714rem!important;
    }
    .g-my-20{
        margin-top:1.42857rem!important;
        margin-bottom:1.42857rem!important;
    }
    .g-my-50{
        margin-top:3.57143rem!important;
        margin-bottom:3.57143rem!important;
    }
    .g-py-8{
        padding-top: .57143rem!important;
        padding-bottom: .57143rem!important;
    }
    .g-py-4{
        padding-top:.28571rem!important;
        padding-bottom:.28571rem!important;
    }
    .g-py-10{
        padding-top: .71429rem;
        padding-bottom: .71429rem;
    }
    .g-py-14{
        padding-top:1rem!important;
        padding-bottom:1rem!important;
    }
    .g-py-30{
        padding-top:2.14286rem!important;
        padding-bottom:2.14286rem!important;
    }
    .g-py-5{
        padding-top: .35rem!important;
        padding-bottom: .35rem!important;
    }
    .g-py-100{
        padding-top:7.14286rem!important;
        padding-bottom:7.14286rem!important;
    }
    .g-px-20{
        padding-left: 1.42857rem;
        padding-right: 1.42857rem;
    }
    .g-px-10{
        padding-left:.71429rem!important;
        padding-right:.71429rem!important;
    }
    .g-px-25{
        padding-left:1.78571rem!important;
        padding-right:1.78571rem!important;
    }
    .g-px-15{
        padding-left:1.07143rem!important;
        padding-right:1.07143rem!important;
    }
    .g-py-15{
        padding-top: 1.071413rem;
        padding-bottom: 1.071413rem;
    }
    .g-py-6{
        padding-top:.42857rem!important;
        padding-bottom:.42857rem!important
    }
    .g-py-12{
        padding-top: .85714rem!important;
        padding-bottom: .85714rem!important;
    }
    .g-py-20{
        padding-top: 1.42857rem!important;
        padding-bottom: 1.42857rem!important;
    }
    .g-py-40{
        padding-top: 2.857rem!important;
        padding-bottom: 2.857rem!important;
    }
    .g-py-50{
        padding-top: 3.57143rem!important;
        padding-bottom: 3.57143rem!important;
    }
    .g-py-110{
        padding-top:7.85714rem!important;
        padding-bottom:7.85714rem!important
    }
    .g-px-12{
        padding-left: .85714rem!important;
        padding-right: .85714rem!important;
    }
    .g-px-30{
        padding-left:2.14286rem!important;
        padding-right:2.14286rem!important;
    }
    .g-px-100{
        padding-left: 7.14286rem!important;
        padding-right: 7.14286rem!important;
    }
    .g-px-50--md{
        padding-left: 3.57143rem!important;
        padding-right: 3.57143rem!important;
    }
    .g-pl-25{
        padding-left:1.78571rem!important
    }
    .g-pa-20{
        padding:1.428rem;
    }
    .g-pa-25{
        padding:1.78571rem!important
    }
    .g-pl-60{
        padding-left:4.28571rem!important
    }
    .g-pa-15-30{
        padding: 1.07143rem 2.14286rem!important;
    }
    .g-mt-2{
        margin-top:.14286rem!important
    }
    .g-mt-25{
        margin-top:1.78571rem!important
    }
    .g-mt-30{
        margin-top:2.14286rem!important
    }
}


.g-brd-primary{
    border-color:#e6125d!important
}

.g-brd-white-opacity-0_8 {
    border-color: rgba(255,255,255,0.8)!important;
}
.g-color-white-opacity-0_8{
    color: rgba(255,255,255,0.8)!important;
}
.g-color-white-opacity-0_6{
    color: rgba(255,255,255,0.6)!important;
}
.g-brd-gray-light-v3{
    border-color:#ddd!important;
}
.g-brd-gray-light-v4{
    border-color:#eee!important;
}
.g-color-blue-white-trans{
    color:hsla(0,0%,100%,.7)!important
}
.g-color-main{
    color: #444!important;
}
.g-color-gray{
    color: gray!important;
}
.g-color-cyan{
    color:#00bed6!important;
}
.g-bg-white-opacity-0_1{
    background-color: rgba(255,255,255,0.1)!important;
}
.g-bg-black{
    background-color: #000000!important;
}
.g-bg-deeporange{
    background-color:#fe541e!important
}
.g-bg-orange--hover:hover{
    background-color:#e57d20!important
}
.g-bg-aqua--hover:hover{
    background-color:#29d6e6!important
}
.g-bg-black-opacity-0_3--after:after, .g-bg-black-opacity-0_3--before:before{
    background-color: rgba(0,0,0,0.3)!important;
}
.g-bg-black-opacity-0_3--after{
    background-color: rgba(0,0,0,0.3)!important;
}
.g-bg-black-opacity-0_3{
    background-color: rgba(0,0,0,0.3) !important;
}
.g-color-gray-dark-v5{
    color: #999!important;
}
.g-bg-gray-light-v4{
    background-color: #eee!important;
}
.g-bg-gray-light-v5{
    background-color:#f7f7f7!important;
}
.g-brd-gray-light-v2{
    border-color: #ccc!important;
}
.g-brd-teal{
    border-color:#18ba9b!important;

}
.g-bg-teal--hover:hover{
    background-color:#18ba9b!important;
}
.g-brd-5{
    border-width:5px!important
}
.g-brd-color-blue-trans{
    border-color:hsla(0,0%,100%,.2)!important
}
.g-color-gray-dark-v1{
    color: #111111!important;
}
.g-color-gray-dark-v4--hover:hover{
    color:#777!important;
}
.g-color-teal{
    color: #18ba9b!important;
}
.g-brd-right{
    border-right:solid 1px transparent!important
}
.g-bg-blue{
    background-color:#3398dc!important
}
.g-bg-teal-opacity-0_1{
    background-color:rgba(24,186,155,.1)!important
}
.g-bg-bluegray-lineargradient{
    background-repeat:repeat-x;
    background-image:linear-gradient(225deg,#1d253c,#3e4757)
}
.g-bg-orange-lineargradient{
    background-repeat:repeat-x;
    background-image:linear-gradient(225deg,#be1715,#ed6d0f);
}
.g-bg-black-opacity-0_1{
    background-color: rgba(0,0,0,0.1) !important;
}
.g-bg-secondary{
    background-color: white!important;
}
.u-heading-v2-3--bottom::after, .u-heading-v2-3--top::before{
    width: 5rem;
    border-top-width: 1px;
}
.u-heading-v2-3--bottom::after{
    margin-top:1.07143rem
}
.u-heading-v2__title{

}
.u-heading-v6__title{
    display: inline-block;
    position: relative;
}
.u-icon-v3.u-icon-size--xs{
    width: 2.14286rem;
    height: 2.14286rem;
    font-size: .92857rem;
}
.u-icon-v3{
    position: relative;
    display: inline-block;
    text-align: center;
    transition: all .2s ease-in-out;
}
.u-icon-v3>i{
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.u-link-v5{
    text-decoration: none;
    transition: all .2s;
}

.g-rounded-30{
    border-radius: 30px;
}
.g-rounded-50{
    border-radius: 50px;
}
.g-rounded-15{
    border-radius: 15px;
}
.g-rounded-left-30{
    border-radius: 30px 0 0 30px!important;
}
.g-rounded-right-30{
    border-radius: 0 30px 30px 0!important;
}
.u-btn-primary{
    color: #fff;
    background-color: #e6125d;
}
.u-btn-primary.active, .u-btn-primary:focus, .u-btn-primary:hover{
    color: #ffffff;
}
.g-brd-cyan--active.active, .g-brd-cyan--hover:hover{
    border-color:#00bed6!important
}
.u-btn-teal.active, .u-btn-teal:focus, .u-btn-teal:hover{
    color:#fff;
}
.u-btn-teal.active, .u-btn-teal:hover{
    border-color:#22e3be;
    background-color:#22e3be;
}
.g-color-teal--hover:hover{
    color:#18ba9b!important;
}
.u-btn-teal{
    color:#fff;
    background-color:#18ba9b;
}
.u-btn-blue{
    color:#fff;
    background-color:#3398dc;
}
.u-btn-inset{
    position: relative;
}
.u-btn-primary.active, .u-btn-primary:hover{
    border-color:#f03b7b;
    background-color:#f03b7b;
}
.info-v5-2__image{
    width: calc(100% + 1px);
}

@media screen and (min-width: 768px){
    .g-width-125--md{
        width: 125px!important;
    }
    .g-brd-left--md{
        border-left:solid 1px #cccccc!important
    }
    .g-pl-60--md{
        padding-left:4.28571rem!important
    }
    .g-mr-15--md{
        margin-right:1.07143rem!important
    }
}


@media screen and (min-width: 576px) {
    .g-width-130--md{
        width: 130px;
    }
}

/*g-pb-70*/
@media screen and (min-width: 0) {
    .g-pb-70{
        padding-bottom: 5rem!important;
    }
    .g-my-0{
        margin-top:0!important;
        margin-bottom:0!important;
    }
    .g-mb-3{
        margin-bottom:.21429rem!important
    }
    .g-pt-15{
        padding-top:1.07143rem!important;
    }
    .u-list-inline{
        padding-left:0;
        margin-bottom:0;
        list-style:none;
    }

}
.g-width-100x{
    width: 100%;
}
.g-width-80{
    width:80px!important;
}
.g-height-80{
    height:80px!important;
}
.g-width-100vw{
    width: 100vw!important;
}
.g-bg-teal{
    background-color:#18ba9b!important;
}
.g-bg-blue-lineargradient-v5{
    background-repeat:repeat-x;
    background-image:linear-gradient(225deg,#0050c2,#5180fa);
}
.g-bg-blue-lineargradient-v4-r{
    background-repeat:repeat-x;
    background-image:linear-gradient(225deg,#3ec2e3,#5b85df);
}

/*shadow*/
.u-shadow-v21{
    box-shadow:0 20px 25px -12px rgba(0,0,0,.09);
    transition-property:all;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-duration:.3s;
}
.u-shadow-v22{
    box-shadow: 0 2px 5px #eee
}


/*fade*/
[class*=u-block-hover], [class*=u-block-hover]:after, [class*=u-block-hover]:before{
    transition:all .3s ease
}
[class*=u-block-hover]{
    position: relative;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
}
[class*=u-block-hover__additional]{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.u-block-hover__main--zoom-v1{
    -webkit-transform:scale(1.01)
}

.g-color-primary--hover:hover, .u-block-hover:hover .g-color-primary--hover{
    color: #e6125d!important;
}
.g-text-underline--none--hover:focus, .g-text-underline--none--hover:hover{
    text-decoration:none;
}
.g-color-purple{
    color:#9a69cb
}

/*hover,遮罩*/

.u-block-hover:hover .u-block-hover__additional--fade{
    opacity: 1;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);

}
.u-block-hover__additional--fade{
    opacity: 0;
}
.u-block-hover__main--zoom-v1:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.g-transform-scale-1_05--hover:hover{
    -webkit-transform:scale3d(1.05,1.05,1.05);
    transform:scale3d(1.05,1.05,1.05);
    z-index: 2;
}
.g-color-white--hover:hover, .u-block-hover:hover .g-color-white--hover{
    color: #fff!important;
}
.g-bg-red--hover:hover{
    background-color: red!important;
}
.g-bg-red{
    background-color:red!important;
}
.u-tags-v1:focus, .u-tags-v1:hover{
    text-decoration:none;
    cursor: pointer;
}
.g-bg-red-opacity-0_1{
    background-color:rgba(255,0,0,.1)!important;
}
/*line-height*/
.g-line-height-1_3{
    line-height: 1.3!important;
}


/*transition*/
.g-transition-0_3{
    transition-duration: .3s;
}


/*四周*/
.g-right-0{
    right: 0;
}
.g-left-0{
    left: 0;
}
.g-bottom-0{
    bottom: 0;
}
.g-top-0{
    top: 0;
}

/*letter*/
.g-letter-spacing-3{
    letter-spacing: .21429rem!important;
}
.g-letter-spacing-0_5{
    letter-spacing:.03571rem!important;
}
/*valign*/
.g-valign-top{
    vertical-align: top!important;
}


/*align*/
.align-items-center{
    align-items: center!important;
    -ms-flex-align: center!important;
}
.u-divider-center{
    text-align: center;
}
.u-divider-solid{
    border-top-style:solid;
}
/*border*/
.g-brd-red{
    border-color: red;
}
.g-brd-around{
    border:solid 1px transparent!important
}
.g-brd-2{
    border-width:2px!important;
}

/*radius*/
.g-rounded-50{
    border-radius:50px!important
}
/*h1*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color:inherit;
}
/*myself*/
.divider{
    font-size: 1px;
}
.u-divider{
    position:relative;
    border-top-width:1px;
}
.u-divider-linear-gradient--gray-light-v3{
    background-image:linear-gradient(to right,transparent,#ddd,transparent)
}
.u-divider-linear-gradient{
    height: 1px;
    border:none;
}
.u-divider-center .u-divider__icon{
    left: auto;
    right: auto;
    margin-left:-1.42857rem;
}
.u-divider__icon{
    position:absolute;
    top:-1.42857rem;
    width:2.85714rem;
    height:2.85714rem;
    font-size:1.28571rem;
    line-height:2.85714rem;
    text-align:center;
    font-style:normal;
}
/*btn*/
.u-btn-pink{
    color: #fff;
    background-color:#e81c62;
}
.u-btn-indigo{
    color: #fff;
    background-color:#4263a3;
}

.btn-md{
    line-height:1.4;
    padding:.57143rem 1.42857rem;
    font-size:1.07143rem;
}
.btn-xs{
    line-height:1.4;
    padding:.14286rem .5rem;
    font-size:.78571rem
}
.tag-pos{
    position:relative;
    bottom:5px;
}
.u-btn-inset--rounded::before{
    border-radius:50px;
}
.u-btn-inset::before{
    position: absolute;
    top:.14286rem;
    right:.14286rem;
    left:.14286rem;
    bottom:.14286rem;
    content:"";
    border:solid 1px #fff;

}

/*wuruofeng in doc*/
code{
    font-size:87.5%;
    color:#e83e8c;
    word-break:break-word;
}
code, kbd, pre, samp{
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size:1rem
}
section.bx-doc h1, section.bx-doc h2{
    padding-top:1.2rem!important;
    padding-bottom:1.2rem!important;
    color:#00acee!important
}
.hljs{
    display: block;
    overflow-x:auto;
    background:#2d2d2d;
    color:#ccc;
    padding:.5em;
}
pre{
    display: block;
    font-size:87.5%;
    color:#212529;
}
pre{
    margin-top:0;
    margin-bottom:1rem;
    overflow:auto
}
pre code{
    font-size:inherit;
    color:inherit;
    word-break:normal;
}
.hljs-keyword, .hljs-selector-tag{
    color:#c9c
}
.hljs-built_in, .hljs-builtin-name, .hljs-link, .hljs-literal, .hljs-meta, .hljs-number, .hljs-params, .hljs-type{
    color:#f99157;
}
.bx-doc img{
    width: 100%;
}
.g-height-100x{
    height: 100%;
}
.form-control-md{
    padding:.8rem 1rem .6rem
}
.u-btn-cyan{
    color:#fff;
    background-color:#00bed6
}
/*check-box*/
.u-check{
    position:relative;
    cursor:pointer;
}
.g-hidden-xs-up{
    display:none!important
}
.u-check-icon-checkbox-v6, .u-check-icon-radio-v6{
    width:18px;
    height:19px;
    font-size:12px;
}
.g-absolute-centered--y{
    position:absolute!important;
    top:50%!important;
    transform:translateY(-50%)
}
.u-check-icon-checkbox-v6 i, .u-check-icon-radio-v6 i{
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    width:100%;
    height:100%;
    border:solid 1px #ccc;
    transform:translate(-50%,-50%)
}

.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #777777!important;
}
.text-line-through{
    text-decoration:line-through;
}
.text-muted1{
    color: #999!important;
}

@media screen and (max-width: 768px) {
    .dismiss{
        display: none;
    }
}
