<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.miaozt.onlineschool.mapper.UserCourseRelationshipMapper" >
    <resultMap id="BaseResultMap" type="cn.miaozt.onlineschool.model.UserCourseRelationship" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="course_id" property="courseId" jdbcType="INTEGER" />
        <result column="start_time" property="startTime" jdbcType="DATE"/>
        <result column="last_time" property="lastTime" jdbcType="DATE" />
        <result column="learning_index" property="learningIndex" jdbcType="VARCHAR" />
        <result column="exp" property="exp" jdbcType="VARCHAR"/>
        <result column="is_pay" property="isPay" javaType="cn.miaozt.onlineschool.enums.CourseIsPay" />
        <result column="is_over" property="isOver" javaType="cn.miaozt.onlineschool.enums.CourseIsOver" />
    </resultMap>
    <sql id="Base_Column_List" >
          id , user_id , course_id, start_time, last_time,learning_index,exp,is_pay,is_over
    </sql>

    <select id="getByCourseIdAndUserId" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user_course_relationship
        WHERE course_id = #{courseId} and user_id= #{userId}
    </select>

    <select id="getByUserId"  resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user_course_relationship
        WHERE user_id= #{userId}
    </select>

</mapper>